# padrão geral: repositório em LF
* text=auto eol=lf

# scripts Windows precisam de CRLF
*.cmd text eol=crlf
*.bat text eol=crlf

# Maven wrapper (importante no Spring Boot)
mvnw text eol=lf
*.sh text eol=lf